@import "../../variables.css";

.container{
    color: var(--color-text);
    /* margin: 0 5%; */
    padding: 5%;
}

.title{
    text-align: center;
    font-size: 2.2rem;
    margin: 5px 0 15px 0;
}

.projects{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 50px;
    width: 100%;
}

@media screen and (max-width:830px) {
    .container{
        margin: 0;
        padding: 0%;
    }
}